html, body {
	margin: 0;
	padding: 0;
	background-color: #00E6FF;
	font-family: "Source Code Pro";
	font-size: x-large;
	text-align: center;
	text-decoration: underline;
}
canvas {
  display: block;
	margin: auto;
}
body h1 {
	background-color: #00C800;
	font-family: "Source Code Pro";
	font-size: 45px;
	text-align: center;
	text-decoration: underline;
}
