html, body {
	margin: 0;
	padding: 0;
	background-color: #78FFFF;
	font-family: "Source Code Pro";
	text-align: center;
	text-decoration: underline;
	font-size: x-large;
}
canvas {
  display: block;
	margin: auto;
}
body h1 {
	background-color: #3B7693;
	font-family: "Source Code Pro";
	text-align: center;
	text-decoration: underline;
	font-size: 45px;
}
